body {
  font-family: "Roboto Condensed", Arial, sans-serif;
  background: url("../img/subtle_dots.png");
  line-height: 1.5em;
  font-weight: 300;
  font-size: 16px;
  color: #0C2340;
}
hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #F7F1F1;
  border-bottom: 1px solid #fff;
}

.subheading {
  margin: 0 auto;
  display: block;
}

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

span.time, span.categories {
  color: #0C2340;
  margin-bottom: 5px;
  font-size: 11px;
}
h1, h2, h3 {
  color: #0C2340;
  font-weight: normal;
  text-align: center;
}
h1 {
  margin-bottom: 10px;
  font-size: 25px;
  text-align: center;
}
h2, h3 {
  margin-bottom: 5px;
  text-align: center;
}
a, a:link, a:active {
  text-decoration: none;
  color: #0C2340;
}
a:hover {
  color: #c99700;
  text-decoration: underline;
}

.text-primary {
  color: #0C2340!important;
}

/* Layout */
.main-layout {
  background: #FFFFFF;
  border: 1px solid rgba(201, 151, 0, 0.2);
}
.sidebar-nav {
  margin: 0;
  padding: 0;
  font-size: 1em;
  color: 0C2340;
}
.sidebar-nav li {
  margin: 0;
  list-style: none;
  color: 0C2340;
}
.sidebar-nav li::before {
  content: "»";
  margin-right: .5em;
  color: 0C2340;
}

/* Content */
div.content pre {
  background: #c99700;
  padding: 10px;
  color: #c99700;
  overflow-x: auto;
  font-family: Menlo, Monaco, Consolas, 'Courier New', monospace;
  font-size: 12px;
  border: none;
}
div.content .highlight {
	background: #c99700;
}
footer {
  border-top: 1px solid #c99700;
  width: 100%;
  height: 10px;
  margin-top: 10px;
  margin-bottom: 3em;
  padding-top: 10px;
  color: #c99700;
  font-size: 11px;
  bottom: 0;
  padding-bottom: 10px;
}

/* Left column */
div.col-sm-3 {
  margin-top: 50px;
  color: #0C2340;
}
div.col-sm-3 strong {
  font-size: 16px;
  color: #0C2340;
  font-weight: normal;
}
div.col-sm-3 div.profile-about {
  margin-top: 10px;
  color: #0C2340;
}
div.col-sm-3 img.profile-avatar {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
  width: 150px;
  height: 150px;
  box-shadow: 0px 5px 15px 0px rgba(0,0,0, 0.4);
  -webkit-box-shadow: 0px 5px 15px 0px rgba(0,0,0, 0.4);
  -moz-box-shadow: 0px 5px 15px 0px rgba(0,0,0, 0.4);
  -o-box-shadow: 0px 5px 15px 0px rgba(0,0,0, 0.4);
}

/* Pagination */
.PageNavigation {
  font-size: 14px;
  display: block;
  width: auto;
  overflow: hidden;
}
.PageNavigation a {
  display: block;
  width: 50%;
  float: left;
  margin: 1em 0;
}
.PageNavigation .next {
  text-align: right;
}
.PageNavigation .prev {
  text-align: left;
}

/* Social Icons */
.social{
  display: block;
  margin: 10px 0;
  color: #0C2340;
}
.social ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  color: #0C2340;
}
.social ul li {
  display: inline-block;
  margin: 0 5px;
  color: #0C2340;
}
.social li a {
  font-size: 16px;
  color: #0C2340;
}
.social li a:hover {
  color: #c99700;
}

.share-page {
  padding: 10px 10px 5px;
  border-top: 1px solid #00843d;
  border-bottom: 1px solid #00843d;
}
.post-content img,
.content img {
  max-width: 100%
}

/* Responsive Conditional */
@media (min-width: 1024px) {
  .fixed-condition {
    position: fixed;
    max-width: 255px;
  }
}
@media (max-width: 768px) {
  div.col-sm-3 {
    margin-top: 30px;
  }
}


/* Home */
.home-quick-links {
  margin-top: 15px;
}
.home-quick-links .home-quick-links__link {
  text-align: center;
} 
.header-content {
  background-image: url('../img/header_bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: center;
  height: 300px;
  margin-bottom: 15px;
}

.header-content .header-content__message {
  color: #FFFFFF;
  position: relative;
  top: 250px;
  font-size: 1.8em;
  text-align: center;
  display: block;
  font-weight: bold;
  text-transform: uppercase;
}
